{% extends 'base.html.twig' %}

{% block title %}New DocFinance{% endblock %}

{% block body %}
    <h1>Create new DocFinance</h1>

    {{ include('doc_finance/_form.html.twig') }}

    <a href="{{ path('app_doc_finance_index') }}">back to list</a>
{% endblock %}
