<form method="post" action="{{ path('app_generation_pdf_file_delete', {'id': generation_pdf_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ generation_pdf_file.id) }}">
    <button class="btn">Delete</button>
</form>
