<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Doc pdf</title>
<h1>Contrat location</h1>  
<body>
    Entre les sousigné 
    <ul>
        <li>Le proprietaire Rhenard Munongo, ci apres denomé "Le proprietaire"</li>
        <li>Le locateur, ci-après dénomé "Le locataore" </li>

        Il est convenu et d'arreter ce qui suit :
    </ul>

    <ul>
        <li>Récuperation de la zone de text depuis la base </li>
        <li>{{generation_pdf_file.nom }}</li>
    </ul>
</body>
</html>