{% extends 'base.html.twig' %}

{% block title %}Edit DocLettre{% endblock %}

{% block body %}
    <h1>Edit DocLettre</h1>

    {{ include('doc_lettre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_doc_lettre_index') }}">back to list</a>

    {{ include('doc_lettre/_delete_form.html.twig') }}
{% endblock %}
